
body{
    font-family: 'Quicksand';
    display: flex;  /* ช่วยให้การจัดเรียงองค์ประกอบภายในคอนเทนเนอร์ง่ายขึ้น */
    align-items: center;  /* จัดให้อยู่ตรงกลางในแนวตั้ง */
    flex-direction: column;  /* จัดเรียงแนวตั้ง */
    background: linear-gradient(-45deg,#9B7EBD,#D4BEE4,#EEEEEE,#9B7EBD,#EEEEEE);
    background-size: 300% 300%;
    transition: backgroud 0.3s ease;
}
body:hover {
    animation: gradient-animation 5s infinite;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

h1 {
    color: indigo;  
}
h1:hover {
    background-color: #9370DB;
}
form {
    margin: 10px 0;
    max-width: 450px;
    padding: 20px; /* ระยะห่างภายในกรอบ */
    border: 2px solid #483D8B; /* กรอบความหนา 2px สีม่วงเข้ม */
    border-radius: 10px; /* มุมโค้งของกรอบ */
    background-color: #FFFFFF; /* สีพื้นหลังของฟอร์ม */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
form:hover {
    background-color: #E6E6FA;
}
label {
   display: inline-block;   /* label กับ input อยู่ในบรรทัดเดียวกัน */
   width: 160px;
   height: 25px;
}
input, select, textarea {
    box-sizing: border-box;   /* padding กับ border รวมในขนาดของ input เพื่อไม่ให้ layout เพี้ยน */

}
input:hover , select:hover , textarea:hover {
    background-color: #ebedef;
    transition: background-color 0.3s ease-in-out;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
}
.buttons {  /* . = Class */
    display: flex; /* จัดปุ่มให้อยู่ในบรรทัดเดียวกัน */
    justify-self: center; /* จัดให้อยู่จุดเริ่มต้น (ซ้ายสุด) */
    gap: 50px; /* ระยะห่างระหว่างปุ่มแรกกับปุ่มสอง */
}
.buttons input {
    padding: 5px 10px; /* ระยะห่างระหว่างข้อความกับขอบปุ่ม */
    cursor: pointer;  /* เปลี่ยนเคอร์เซอร์เมื่อวางบนปุ่ม*/
}
.buttons input:hover {
    background-color:darkgrey;
}
input:focus, select:focus, textarea:focus {
    outline: none; /* ลบกรอบค่าเริ่มต้น */
    border: 2px solid #483D8B; /* เพิ่มกรอบสีฟ้า ความหนา 2px*/ /* solid: รูปแบบเส้นขอบเป็นเส้นทึบ (ไม่มีช่องว่าง) */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* เพิ่มเงาแบบ Glow */
}